<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.aplicacionhistoria">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu2"
            android:screenOrientation="landscape"
            android:noHistory="true"
           />
        <activity
            android:name=".Splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Informacion"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Organizacion6"
            android:screenOrientation="landscape"
            android:parentActivityName=".MainActivity"
            android:noHistory="true"
            />
        <activity
            android:name=".Organizacion5"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Organizacion4"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Organizacion3"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Formas8"
            android:screenOrientation="landscape"
            android:noHistory="true"
            />
        <activity
            android:name=".Formas7"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Formas6"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Formas5"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Formas4"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Organizacion2"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Organizacion"
            android:screenOrientation="landscape"
            android:noHistory="true"
           />
        <activity
            android:name=".Formas3"
            android:screenOrientation="landscape"
            android:noHistory="true"
            />
        <activity
            android:name=".Formas2"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Formas"
            android:screenOrientation="landscape"
            android:noHistory="true"
          />
        <activity
            android:name=".Origen6"
            android:screenOrientation="landscape"
            android:noHistory="true"
            />
        <activity
            android:name=".Origen5"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Origen4"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Origen3"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Origen2"
            android:screenOrientation="landscape"
            android:noHistory="true"
           />
        <activity
            android:name=".Origen"
            android:screenOrientation="landscape"
            android:noHistory="true"
           />
        <activity
            android:name=".Exploracion3"
            android:screenOrientation="landscape"
            android:noHistory="true"
           />
        <activity
            android:name=".exploracion2"
            android:screenOrientation="landscape"
            android:noHistory="true"
            />
        <activity
            android:name=".exploracion1"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".Menu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity2"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>